
.bg{
  background-image: url(../img/bg2.jpg);
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  background-color: rgba(0,0,0,.4);
}

.slides-navigation a.prev,
.slides-navigation a.next{
  width: 47px;
  height: 47px;
  background-size: cover;
  background-repeat: no-repeat;
}
.slides-navigation a.prev{
  left: 20px;
  background-image: url(../img/icons/previous.png);
}
.slides-navigation a.next{
  right: 20px;
  background-image: url(../img/icons/next.png);
}

.titleMessage{
  position: absolute;
  width: 100%;
  height: 250px;
  top: 50%;
  z-index: 3;
  text-align: center;
  margin-top: -120px;



}

.titleMessage .heading p{
  font-family: 'PT Sans Narrow', sans-serif;
  letter-spacing:11px;
  text-shadow: 2px 2px 7px rgba(0, 0, 0, .5);
}

.titleMessage .heading .main{
  color: #FBBE00;
  font-size: 60px;
}
.titleMessage .heading .sub{
  color: #fff;
  font-size: 40px;
}
.titleMessage .myIcons{
  color: #fff;
  letter-spacing: 11px;
  font-size: 25px;
  text-shadow: 2px 2px 7px rgba(0, 0, 0, .5);
}
.section{
  padding: 80px;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;

}
.section h2{
  color: #FBBE00;
  font-family: 'PT Sans Narrow', sans-serif;
  text-align: center;
}
.aboutSection{
  background-color: #1E1E20;
  color: #D9CB9E;

}
.aboutSection .row{
  margin: 0 50px;
}
.aboutImage{
  max-width: 100%;
}
.quoteSection{
  background-color: #000;
  color: #FBBE00;
  text-align: center;
  font-size: 2vw;
  padding: 50px 100px;
}
.skillsSection{
  background-color: #1E1E20;
  color: #fff;
  padding: 40px;
  font-family: 'PT Sans', sans-serif;
}
.skillsSection h4,
.skillsSection .percent{
  font-family: 'Roboto', sans-serif;
}
.skillsSection .owl-dots{
  padding-top: 20px;
}
.owl-stage{
  cursor: grab;
}

#aboutBackground{
  background-color: #E0423F;
  padding: 30px;
}

.skill{
  text-align: center;
  margin-left: 25px;
}
.owl-carousel{
  margin-top: 30px;
}
.chart{
  position: relative;
  width: 152px;
  height: 152px;
  display: inline-block;
  text-align: center;
}
.chart canvas{
  position: absolute;
  left: 0;
  top: 0;
}
.chart .percent{
  color: #fff;
  line-height: 152px;
  display: inline-block;
  font-size: 35px;
}
.chart .percent::after{
  content: '%';
}
.owl-nav{
  text-align: center;
}

#navigation{
  background-color: #1E1E20;
  z-index: 100px;
}

#navigation li a{
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}
#navigation li a:hover{
  color: #E0423F;
}
.navbar-brand{
  color: #0097C2;
  font-family: 'Roboto', sans-serif;

  -webkit-transition: all 0.2s linear,0.2s;
  -moz-transition: all 0.2s linear,0.2s;
  -o-transition: all 0.2s linear,0.2s;
  -ms-transition: all 0.2s linear,0.2s;
  -transition: all 0.2s linear,0.2s;
}
.navbar-brand:hover{
  color: #0097C2;
  -webkit-transform: scale(1.05,1.05);
  -moz-transform: scale(1.05,1.05);
  -o-transform: scale(1.05,1.05);
  -ms-transform: scale(1.05,1.05);
  -transform: scale(1.05,1.05);
}
.navbar-toggler-icon{
  background: url(../img/icons/menu.png);
  background-size: 100%;
}
.portfolioSection{
  background-color: #6E6E6E;
}
.portfolioSection .heading{
  text-align: center;
  padding-bottom: 40px;
  width: 100%;
}
.items li{
  display: inline-block;
  padding: 0;
}
.itemsContainer {
  width: 100%;
  margin-top: 50px;
}
.itemsContainer .items{
  padding-left: 0;
}
.items li img{
  width: 100%;
  -webkit-transition: all 0.2s linear,0.5s;
  -moz-transition: all 0.2s linear,0.5s;
  -o-transition: all 0.2s linear,0.5s;
  -ms-transition: all 0.2s linear,0.5s;
  -transition: all 0.2s linear,0.5s;
}
.items .item{
  position: relative;
  display: block;
  overflow: hidden;
  padding: 5px;
}
.items .icons{
  position: absolute;
  width: 100%;
  height: 40px;
  bottom: 20%;
  margin: 0 auto;
  text-align: center;
  z-index: 3;
  display: inline-block;

  -webkit-transition: all 0.2s linear,0.3s;
  -moz-transition: all 0.2s linear,0.3s;
  -o-transition: all 0.2s linear,0.3s;
  -ms-transition: all 0.2s linear,0.3s;
  -transition: all 0.2s linear,0.3s;
}
.item .description{
position: absolute;
width: 100%;
height: 40px;
top: 25%;
float: right;
right: -275px;
margin: 0 auto;
text-align: center;
z-index: 3;
display: inline-block;

-webkit-transition: all 0.2s linear,0.3s;
-moz-transition: all 0.2s linear,0.3s;
-o-transition: all 0.2s linear,0.3s;
-ms-transition: all 0.2s linear,0.3s;
-transition: all 0.2s linear,0.3s;

}
.item .description h4{
  font-size: 2vw;
  padding: 5px;
}

.item .description p{
  font-size: 1vw;
  padding: 5px;
}
.openButton{
  background-color: #E0423F;
  color: #fff;
  text-align: center;
  /* text-decoration:; */
  padding-top: 3px;
  border-radius: 20px;
  width: 120px;
  height: 30px;
  position:relative;
  display: inline-block;

  -webkit-transition: all 0.2s linear,0.2s;
  -moz-transition: all 0.2s linear,0.2s;
  -o-transition: all 0.2s linear,0.2s;
  -ms-transition: all 0.2s linear,0.2s;
  -transition: all 0.2s linear,0.2s;

}
.openButton:hover{
  color: #fff;
  /* background-color: #E86917; */
  text-decoration: none;

  -webkit-transform: scale(1.05,1.05);
  -moz-transform: scale(1.05,1.05);
  -o-transform: scale(1.05,1.05);
  -ms-transform: scale(1.05,1.05);
  -transform: scale(1.05,1.05);
}
}
.items .icons i{
  color: #fff;
  font-size: 20px;
  margin-top: 9.5px;
}
.items .imageOverlay{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;

  -webkit-transition: all 0.2s linear,0.5s;
  -moz-transition: all 0.2s linear,0.5s;
  -o-transition: all 0.2s linear,0.5s;
  -ms-transition: all 0.2s linear,0.5s;
  -transition: all 0.2s linear,0.5s;

}

.items .item:hover img{
  -webkit-transform: scale(1.05,1.05);
  -moz-transform: scale(1.05,1.05);
  -o-transform: scale(1.05,1.05);
  -ms-transform: scale(1.05,1.05);
  -transform: scale(1.05,1.05);
}
.items .icons{
  float: left;
  left: -300px;
}
.items .item:hover .description{
  right: 0px;
}
.items .item:hover .icons{
  left: 0px;
}
.items .item:hover .imageOverlay{
  opacity: 1;
}
#filters{
  padding-left: 0 !important;
  margin-left: 0 !important;
}
.filter{
  text-align: center;
  width: 100%;
}
.filter a{
  display: block;
  color: black;
  font-size: 15px;
  font-weight: bold;
  background-color: #D9D9D9;
  border: 1.5px  solid black;
  border-radius: 10px;
  padding: 10px 18px;
  text-decoration: none;

  -webkit-transition: all 0.2s linear,0.2s;
  -moz-transition: all 0.2s linear,0.2s;
  -o-transition: all 0.2s linear,0.2s;
  -ms-transition: all 0.2s linear,0.2s;
  -transition: all 0.2s linear,0.2s;
}
.filter li a:hover{
  background-color: #D9D9D9;
  border-color: #000;
  -webkit-transform: scale(1.05,1.05);
  -moz-transform: scale(1.05,1.05);
  -o-transform: scale(1.05,1.05);
  -ms-transform: scale(1.05,1.05);
  -transform: scale(1.05,1.05);
  color: #000;
}
.filter li{
  display: inline-block;
  padding: 0 3px;
}
.filter .current{
  background-color: #DC3522;
  border-color: #DC3522;
  color: #fff;
}
.copyrightSection{
  padding: 30px 5px;
  background-color: #1E1E20;
  color: #fff;
  text-align: center;
}
.copyrightSection p{
  margin: 0;
}
.hiddenContent{
  overflow: hidden;
  border-radius: 10px;
  /* margin-left: 500px !important; */
  max-width: 80% !important;

  transform: translateY(-50px);
  transition: all .7s;
}
.hiddenContent a{
  width: 40px;
  height: 40px;
  background-color: #DC3522;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  font-size: 25px;
  padding-top: 7px;

  -webkit-transition: all 0.2s linear,0.2s;
  -moz-transition: all 0.2s linear,0.2s;
  -o-transition: all 0.2s linear,0.2s;
  -ms-transition: all 0.2s linear,0.2s;
  -transition: all 0.2s linear,0.2s;
}
.hiddenContent a:hover{
  -webkit-transform: scale(1.05,1.05);
  -moz-transform: scale(1.05,1.05);
  -o-transform: scale(1.05,1.05);
  -ms-transform: scale(1.05,1.05);
  -transform: scale(1.05,1.05);
}
.hiddenContent h2,
.hiddenContent p {
  transform: translateY(-50px);
  opacity: 0;

  transition-property: transform, opacity;
  transition-duration: .4s;

}
.hiddenContent img,
.hiddenContent video{
  max-width: 100%;
  padding-bottom: 20px;
  cursor: default;
}

/* Final state */
.fancybox-slide--current .hiddenContent,
.fancybox-slide--current .hiddenContent h2,
.fancybox-slide--current .hiddenContent p {
  transform: translateY(0);
  opacity: 1;
}

/* Reveal content with different delays */
.fancybox-slide--current .hiddenContent h2 {
  transition-delay: .1s;
}

.fancybox-slide--current .hiddenContent p {
  transition-delay: .3s;
}
.contactSection{
  background-color: #374140;
}
