:root{
  --Yellow:   #FBBE00;
  --Blue:     #0097C2;
  --DarkBlue: #142F56;
  --Red:      #E0423F;
  --DarkGray: #1E1E20;
  --White:    #ffffff;
  --Slate:    #67676E;
}




.bg{
  background-image: url(../img/bg2.jpg);
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  background-color: rgba(0,0,0,.3);
}

.slides-navigation a.prev,
.slides-navigation a.next{
  width: 47px;
  height: 47px;
  background-size: cover;
  background-repeat: no-repeat;
}
.slides-navigation a.prev{
  left: 20px;
  background-image: url(../img/icons/previous.png);
}
.slides-navigation a.next{
  right: 20px;
  background-image: url(../img/icons/next.png);
}

.titleMessage{
  position: absolute;
  width: 100%;
  height: 250px;
  top: 50%;
  z-index: 3;
  text-align: center;
  margin-top: -120px;



}

.titleMessage .heading p{
  font-family: 'PT Sans Narrow', sans-serif;
  letter-spacing:11px;
  text-shadow: 2px 2px 7px rgba(0, 0, 0, .5);
}

.titleMessage .heading .main{
  color: var(--Yellow);
  font-size: 60px;
}
.titleMessage .sub{
  color: var(--White);
  font-size: 35px;
}
.titleMessage .myIcons{
  color: var(--White);
  letter-spacing: 11px;
  font-size: 25px;
  text-shadow: 2px 2px 7px rgba(0, 0, 0, .5);
}
.section{
  padding: 30px;
  font-family: 'PT Sans', sans-serif;
  font-size: 25px;

}
.section h2{
  color: var(--Yellow);
  font-family: 'PT Sans Narrow', sans-serif;
  text-align: center;
  padding-bottom: 30px;
}

.aboutSection{
  background-color: var(--DarkGray);
  color: var(--White);

}
.aboutBold{
  color: var(--Yellow);
}
.aboutSection .row{
  margin: 0 100px 20px 100px;
}
.aboutImage{
  max-width: 100%;
  max-height: 400px;
  border-radius: 10px;
}
.quoteSection{
  background-color: var(--Blue);
  color: var(--Yellow);
  text-align: right;
  font-size: 2.5vw;
  padding: 50px 10%;
}
.skillsSection{
  background-color: var(--DarkGray);
  color: var(--White);
  font-family: 'PT Sans', sans-serif;
  font-size: 19px;
}
.skillsSection h4,
.skillsSection .percent{
  font-family: 'Roboto', sans-serif;
}
.skillsSection .owl-dots{
  padding-top: 20px;
}
.owl-stage{
  cursor: grab;
}

#aboutBackground{
  background-color: var(--DarkGray);
  padding: 30px;
  border-radius: 20px;
}
#aboutBackground section{
  padding: 10px;
}

.skill{
  text-align: center;
  margin-left: 25px;
}
.owl-carousel{
  margin-top: 30px;
}
.chart{
  position: relative;
  width: 152px;
  height: 152px;
  display: inline-block;
  text-align: center;
}
.chart h4{
  padding-top: 20px;
}
.chart canvas{
  position: absolute;
  left: 0;
  top: 0;
}
.chart .percent{
  color: var(--White);
  line-height: 152px;
  display: inline-block;
  font-size: 35px;
}
.chart .percent::after{
  content: '%';
}
.owl-nav{
  text-align: center;
}

#navigation{
  background-color: var(--DarkGray);
  z-index: 100px;
}

#navigation li a{
  color: var(--White);
  font-family: 'Open Sans', sans-serif;
}
#navigation li a:hover{
  color: var(--Red);
}
.navbar-brand{
  color: var(--Blue);
  font-family: 'Roboto', sans-serif;

  -webkit-transition: all 0.2s linear,0.2s;
  -moz-transition: all 0.2s linear,0.2s;
  -o-transition: all 0.2s linear,0.2s;
  -ms-transition: all 0.2s linear,0.2s;
  -transition: all 0.2s linear,0.2s;
}
.navbar-brand:hover{
  color: var(--Blue);
  -webkit-transform: scale(1.05,1.05);
  -moz-transform: scale(1.05,1.05);
  -o-transform: scale(1.05,1.05);
  -ms-transform: scale(1.05,1.05);
  -transform: scale(1.05,1.05);
}
.navbar-toggler-icon{
  background: url(../img/icons/menu.png);
  background-size: 100%;
}
.portfolioSection{
  background-color: var(--Slate);
}
.portfolioSection .heading{
  text-align: center;
  /* padding-bottom: 40px; */
  width: 100%;
}
.portfolioSection h4{
  font-family: 'Roboto', sans-serif;
}
.portfolioSection p{
  font-family: 'PT Sans', sans-serif;
}
.items li{
  display: inline-block;
  padding: 0;
}
.itemsContainer {
  width: 100%;
  /* margin-top: 50px; */
}
.itemsContainer .items{
  padding-left: 0;
}
.items li img{
  width: 100%;
  /* border-radius: 10px; */
  -webkit-transition: all 0.2s linear,0.5s;
  -moz-transition: all 0.2s linear,0.5s;
  -o-transition: all 0.2s linear,0.5s;
  -ms-transition: all 0.2s linear,0.5s;
  -transition: all 0.2s linear,0.5s;
}
.items .item{
  position: relative;
  display: block;
  overflow: hidden;
  padding: 5px;
}
.items .icons{
  position: absolute;
  width: 100%;
  height: 40px;
  bottom: 20%;
  margin: 0 auto;
  text-align: center;
  z-index: 3;
  display: inline-block;

  -webkit-transition: all 0.2s linear,0.3s;
  -moz-transition: all 0.2s linear,0.3s;
  -o-transition: all 0.2s linear,0.3s;
  -ms-transition: all 0.2s linear,0.3s;
  -transition: all 0.2s linear,0.3s;
}
.item .description{
  color: var(--White);
  position: absolute;
  width: 100%;
  height: 40px;
  top: 25%;
  float: right;
  right: -275px;
  margin: 0 auto;
  text-align: center;
  z-index: 3;
  display: inline-block;

-webkit-transition: all 0.2s linear,0.3s;
-moz-transition: all 0.2s linear,0.3s;
-o-transition: all 0.2s linear,0.3s;
-ms-transition: all 0.2s linear,0.3s;
-transition: all 0.2s linear,0.3s;

}
.item .description h4{
  font-size: 2vw;
  padding: 5px;
}

.item .description p{
  font-size: 1vw;
  padding: 5px;
}
.openButton{
  background-color: var(--Blue);
  color: var(--White);
  text-align: center;
  /* text-decoration:; */
  padding-top: 3px;
  border-radius: 20px;
  width: 120px;
  height: 30px;
  position:relative;
  display: inline-block;

  -webkit-transition: all 0.2s linear,0.2s;
  -moz-transition: all 0.2s linear,0.2s;
  -o-transition: all 0.2s linear,0.2s;
  -ms-transition: all 0.2s linear,0.2s;
  -transition: all 0.2s linear,0.2s;

}
.openButton:hover{
  color: var(--White);
  /* background-color: #E86917; */
  text-decoration: none;

  -webkit-transform: scale(1.05,1.05);
  -moz-transform: scale(1.05,1.05);
  -o-transform: scale(1.05,1.05);
  -ms-transform: scale(1.05,1.05);
  -transform: scale(1.05,1.05);
}
}
.items .icons i{
  color: var(--White);
  font-size: 20px;
  margin-top: 9.5px;
}
.items .imageOverlay{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;

  -webkit-transition: all 0.2s linear,0.5s;
  -moz-transition: all 0.2s linear,0.5s;
  -o-transition: all 0.2s linear,0.5s;
  -ms-transition: all 0.2s linear,0.5s;
  -transition: all 0.2s linear,0.5s;

}

.items .item:hover img{
  -webkit-transform: scale(1.05,1.05);
  -moz-transform: scale(1.05,1.05);
  -o-transform: scale(1.05,1.05);
  -ms-transform: scale(1.05,1.05);
  -transform: scale(1.05,1.05);
}
.items .icons{
  float: left;
  left: -300px;
}
.items .item:hover .description{
  right: 0px;
}
.items .item:hover .icons{
  left: 0px;
}
.items .item:hover .imageOverlay{
  opacity: 1;
}
#filters{
  padding-left: 0 !important;
  margin-left: 0 !important;
  background-color: var(--DarkGray);
}
.filter{

  text-align: center;
  width: 100%;
}
.filter a{
  display: block;
  color: var(--White);
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  /* background-color: var(--White); */
  /* border: 1.5px  solid black;
  border-radius: 10px; */
  padding: 10px 0;
  text-decoration: none;

  -webkit-transition: all 0.2s linear,0.2s;
  -moz-transition: all 0.2s linear,0.2s;
  -o-transition: all 0.2s linear,0.2s;
  -ms-transition: all 0.2s linear,0.2s;
  -transition: all 0.2s linear,0.2s;
}
.filter li a:hover{
  /* background-color: var(--Yellow); */
  /* border-color: #000; */
  -webkit-transform: scale(1.05,1.05);
  -moz-transform: scale(1.05,1.05);
  -o-transform: scale(1.05,1.05);
  -ms-transform: scale(1.05,1.05);
  -transform: scale(1.05,1.05);
  color: var(--Red);
}
.filter li{
  display: inline-block;
  padding: 0 3px;
}
.filter .current{
  /* background-color: var(--Yellow); */
  /* border-color: #000; */
  color: var(--Red);
}
.copyrightSection{
  padding: 30px 5px;
  background-color: var(--Blue);
  color: var(--White);
  text-align: center;
}
.copyrightSection p{
  margin: 0;
}
.hiddenContent{
  overflow: hidden;
  border-radius: 10px;
  /* margin-left: 500px !important; */
  max-width: 80% !important;

  transform: translateY(-50px);
  transition: all .7s;
}

.hiddenContent h2,
.hiddenContent p {
  transform: translateY(-50px);
  opacity: 0;

  transition-property: transform, opacity;
  transition-duration: .4s;

}
.hiddenContent img,
.hiddenContent video{
  max-width: 100%;
  padding-bottom: 20px;
  cursor: default;
}


/* Final state */
.fancybox-slide--current .hiddenContent,
.fancybox-slide--current .hiddenContent h2,
.fancybox-slide--current .hiddenContent p {
  transform: translateY(0);
  opacity: 1;
}

/* Reveal content with different delays */
.fancybox-slide--current .hiddenContent h2 {
  transition-delay: .1s;
}

.fancybox-slide--current .hiddenContent p {
  transition-delay: .3s;
}
.contactSection{
  background-color: var(--DarkGray);
  padding-bottom: 10px !important;
}

.loader{
  display: flex;
	flex-direction: column;
	align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--DarkGray);
  position: fixed;
  top:0px;
  left: 0px;
  z-index: 1000;
}
.loader .inner{
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 60px;
  height: 60px;
  border: 8px solid var(--White);
  border-radius: 50%;
  border-top: 8px solid var(--Red);
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.contactWrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contactWrapper input,textarea{
  width: 400px;
  padding: 10px;
  margin: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  outline: none;
}

.linksWrapper .linkedIn{
  background-color: #0077B5;
  /* border-radius: 1px; */
}
.linksWrapper .github{
  background-color: #bd2c00;
  /* border-radius: 1px; */
}
.linksWrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
/* .socialLink.steamLink{
  border-radius: 5px;
} */
.socialLink{
  width: 50px;
  height: 50px;
  background-color: #2a475e;
  color: var(--White);
  border-radius: 1px;
  margin: 10px 5px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  font-size: 33px;
  padding-top: 8.5px;

  -webkit-transition: all 0.2s linear,0.2s;
  -moz-transition: all 0.2s linear,0.2s;
  -o-transition: all 0.2s linear,0.2s;
  -ms-transition: all 0.2s linear,0.2s;
  -transition: all 0.2s linear,0.2s;
}
.socialLink:hover{
  color: var(--White);
  text-decoration: none;
  -webkit-transform: scale(1.15,1.15);
  -moz-transform: scale(1.05,1.05);
  -o-transform: scale(1.05,1.05);
  -ms-transform: scale(1.05,1.05);
  -transform: scale(1.05,1.05);
}
.contactWrapper .sendButton{
  width: 200px;
  background-color: var(--Red);
  border-color: var(--Red);
  color: var(--White);
  font-family: 'Roboto', sans-serif;
}
